- if @simulated_sold
  .row
    .col-md-12.card
      .card-inner
        .simulated-sold= "#{number_with_precision(@simulated_sold, locale: :fr, precision: 2)}€"
  .row
    .col-md-12.card
      .card-inner
        %table.table.table-condensed.table-hover.no-margin-bottom
          %tbody
            - @account.simulated_account_operations.each do |operation|
              %tr
                %td= operation.date.strftime('%d/%m/%Y')
                %td
                  %div{ class: "#{operation.is_income? ? 'success' : 'danger' }" }
                    %strong= "#{number_with_precision(operation.amount, locale: :fr, precision: 2)}€"
                %td= operation.name
