.row
  .col-md-1
  .col-md-10
    %h1.page-header= @account.name
    = render 'shared/main_nav', simulation: true
    %table.table.table-condensed.table-hover.no-margin-bottom
      %thead
        %th.col-md-2 Nom
        %th.col-md-2 Description
        %th.col-md-2 Montant
        %th.col-md-1 Date
        %th.col-md-1 Du
        %th.col-md-1 Au
        %th.col-md-2 Fréquence
        %th.col-md-1 Actions
    = render 'operations/add'
    #operations
      = render 'operations/table'
  .col-md-1
/ - if @simulated_sold
/   %h2.page-header
/     %i.glyphicon.glyphicon-user
/     Simulation
/   %table.table
/     %thead
/       %th Date
/       %th Nom
/       %th Montant
/     %tbody
/       - @account.simulated_account_operations.each do |operation|
/         %tr
/           %td= operation.date.strftime('%d/%m/%Y')
/           %td= operation.name
/           %td= operation.amount
/     %tfoot
/       %tr
/         %th
/           = "Solde simulé: #{@simulated_sold}"
