.row
  .col-md-12.card
    .card-inner
      %i#account-form-status.glyphicon.glyphicon-ok
      = form_for(@account, remote: true, class: 'form-inline', id: 'edit-account-form') do |f|
        .row
          .col-md-4.text-center
            %label Nom du compte
            = f.text_field :name, class: 'form-control invisible-border', placeholder: 'Nom'
          .col-md-4.text-center
            %label= "Solde le #{@account.sold_date.strftime('%d/%m/%Y')}"
            = f.text_field :sold, class: 'form-control invisible-border', placeholder: 'Solde courrant'
          .col-md-4.text-center
.row
  .col-md-12.card.title-background
    .card-inner
      Opérations
      %a#add-operation.btn.btn-xs.btn-success.pull-right.rounded{"data-target" => "#add-operation-modal", "data-toggle" => "modal", :role => "button", :tabindex => "0"}
        %i.glyphicon.glyphicon-plus
.row
  .col-md-12.card
    .card-inner
      #operations
        = render 'operations/table'

.row
  .col-md-12.card.title-background
    .card-inner
      Simulation
      = form_tag(:sold_at_account, url: sold_at_account_path(@account), method: :post, remote: true, class: 'form-inline pull-right', id: 'simulation-form') do
        .form-group
          = text_field_tag 'simulation[date]', @default_simulation_date.strftime('%d/%m/%Y'), class: 'form-control datepicker invisible-border invisible-background', placeholder: 'Date'
        .form-group
          %button.btn.btn-success{:type => "submit"} LANCER
#simulation-results

#add-operation-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      = form_tag(operations_path, method: :post, remote: true, id: 'new_operation') do
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title OPERATION
        .modal-body
          .form-group
            = text_field_tag 'operation[name]', nil, class: 'form-control invisible-border', placeholder: 'Nom'
          .form-group
            = text_field_tag 'operation[description]', nil, class: 'form-control invisible-border', placeholder: 'Description'
          .form-group
            = text_field_tag 'operation[amount]', nil, class: 'form-control invisible-border', placeholder: 'Montant'
          .form-group
            = text_field_tag 'operation[date]', nil, class: 'form-control invisible-border datepicker', placeholder: 'Date'
          .form-group
            = text_field_tag 'operation[date_from]', nil, class: 'form-control invisible-border datepicker', placeholder: 'Du'
          .form-group
            = text_field_tag 'operation[date_to]', nil, class: 'form-control invisible-border datepicker', placeholder: 'Au'
          .form-group
            = select_tag('operation[frequency]', options_for_select(@frequencies_for_select), { class: 'select2 fluid', prompt: 'Fréquence'})
          = hidden_field_tag 'operation[account_id]', @account.id.to_s
        .modal-footer
          %button.btn.btn-success{:type => "submit"} CREER
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} FERMER
