%table.table.table-condensed.table-hover.no-margin-bottom
  %tfoot
    = form_tag(operations_path, method: :post, remote: true, id: 'new_operation', class: 'tr') do
      %td.col-md-2.with-input= text_field_tag 'operation[name]', nil, class: 'form-control invisible-border'
      %td.col-md-2.with-input= text_field_tag 'operation[description]', nil, class: 'form-control invisible-border'
      %td.col-md-2.with-input= text_field_tag 'operation[amount]', nil, class: 'form-control invisible-border'
      %td.col-md-1.with-input= text_field_tag 'operation[date]', nil, class: 'form-control invisible-border datepicker'
      %td.col-md-1.with-input= text_field_tag 'operation[date_from]', nil, class: 'form-control invisible-border datepicker'
      %td.col-md-1.with-input= text_field_tag 'operation[date_to]', nil, class: 'form-control invisible-border datepicker'
      %td.col-md-2.with-select
        = select_tag('operation[frequency]', options_for_select(@frequencies_for_select), { class: 'select2', prompt: 'Ponctuelle'})
      %td.col-md-1
        = hidden_field_tag 'operation[account_id]', @account.id.to_s
        %button#add-operation.btn.btn-success.btn-xs.pull-right{ type: 'button' }
          %i.glyphicon.glyphicon-plus
