= form_tag(operations_path, method: :post, remote: true, id: 'new_operation', class: 'tr') do
  = text_field_tag 'operation[name]', nil, class: 'form-control invisible-border', placeholder: 'Nom'
  = text_field_tag 'operation[description]', nil, class: 'form-control invisible-border', placeholder: 'Description'
  = text_field_tag 'operation[amount]', nil, class: 'form-control invisible-border', placeholder: 'Montant'
  = text_field_tag 'operation[date]', nil, class: 'form-control invisible-border datepicker', placeholder: 'Date'
  = text_field_tag 'operation[date_from]', nil, class: 'form-control invisible-border datepicker', placeholder: 'Du'
  = text_field_tag 'operation[date_to]', nil, class: 'form-control invisible-border datepicker', placeholder: 'Au'
  = select_tag('operation[frequency]', options_for_select(@frequencies_for_select), { class: 'select2', prompt: 'Fréquence'})
  = hidden_field_tag 'operation[account_id]', @account.id.to_s
  %br/
  %br/
  %br/
  %button#add-operation.btn.btn-success.btn-xs.full.bottom{ type: 'button' }
    ADD
