%table.table.table-condensed.table-hover
  %tbody
    - @operations.each do |operation|
      %tr
        %th.col-md-2= operation.name
        %td.col-md-4= operation.description
        %td.col-md-1
          %div{ class: "#{operation.is_income? ? 'success' : 'danger' } pull-right right-padded" }
            %strong= "#{number_with_precision(operation.amount, locale: :fr, precision: 2)}€"
        %td.col-md-1= operation.date.strftime('%d/%m/%Y')
        %td.col-md-1= operation.date_from.strftime('%d/%m/%Y') if operation.date_from
        %td.col-md-1= operation.date_to.strftime('%d/%m/%Y') if operation.date_to
        %td
          - if operation.is_recurrent?
            = I18n.t("frequency.#{operation.frequency}").upcase
          - else
            PONCTUELLE
        %td
          = form_for(operation, url: operation_path(id: operation.id, account_id: @account.id.to_s), method: :delete, remote: true, html: { class: 'remove-operation pull-right' }) do |f|
            %button#remove-operation.btn.btn-danger.btn-xs.rounded{ type: 'button' }
              %i.glyphicon.glyphicon-minus
